#pragma once

// WiFi - internet (NTP sync)
#define WIFI_SSID      "your_wifi_ssid"
#define WIFI_PASSWORD  "your_wifi_password"

// WiFi - lokální síť chatky (server pro zápis dat)
#define WIFI_SSID_CML  "your_local_wifi_ssid"

// Lokální server
#define SERVER_URL     "http://192.168.x.x"
